* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Comic Sans MS", sans-serif;
}

body, html {
    height: 100vh;
    width: 100vw;
    font-size: 16px;
}

#app {
    max-width: 900px;
    margin: 0 auto;
    padding: 30px;
    text-align: center;
}

h1, h2 {
    color: #ff1493;
}

h1 {
    margin-bottom: 15px;
    font-size: 3em;
    text-shadow: 2px 2px #ff69b4;
}

h2 {
    margin-top: 20px;
    font-size: 2em;
    color: #ff4500;
}

/* 將基本資料的文字和標題置中 */
p, ol {
    text-align: center;
}

#pht img {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    object-fit: cover;
    margin-top: 20px;
    border: 5px solid #ff1493;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
}

a {
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
    color: #ff4500;
    font-weight: bold;
}

a:hover {
    color: #ff6347;
}

ol {
    margin-top: 10px;
    list-style-position: inside;
    color: #ff4500;
}

p {
    margin-top: 15px;
    line-height: 1.8;
    color: #800000;
}

